.friends .friends__header{
    padding-bottom: 20px;
}

.friends .friends__plus{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}
.friends__plus .friends__title , .friends__list .friends__title{
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 10px;
}
/* 
.friends__plus__icon{
    background-color: yellow;
    width:50px;
    height: 50px;
    border-radius:  38%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
} */